[submodule "submodules/Lucius"]
	path = submodules/Lucius
	url = git://github.com/vim-scripts/Lucius.git
[submodule "submodules/vim-pathogen"]
	path = submodules/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "submodules/vim-fugitive"]
	path = submodules/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "submodules/cmdalias"]
	path = submodules/cmdalias
	url = git://github.com/vim-scripts/cmdalias.vim.git
[submodule "submodules/nerdtree"]
	path = submodules/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "submodules/minibufexpl"]
	path = submodules/minibufexpl
	url = git://github.com/fholgado/minibufexpl.vim.git
