[submodule "bundle/bufkill.vim"]
	path = bundle/bufkill.vim
	url = git://github.com/vim-scripts/bufkill.vim.git
[submodule "bundle/cmdalias.vim"]
	path = bundle/cmdalias.vim
	url = git://github.com/vim-scripts/cmdalias.vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/gist-vim"]
	path = bundle/gist-vim
	url = git://github.com/mattn/gist-vim.git
[submodule "bundle/Lucius"]
	path = bundle/Lucius
	url = git://github.com/vim-scripts/Lucius.git
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/minibufexpl.vim"]
	path = bundle/minibufexpl.vim
	url = git://github.com/fholgado/minibufexpl.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/EvanDotPro/nerdtree.git
[submodule "bundle/nerdtree-chmod"]
	path = bundle/nerdtree-chmod
	url = git://github.com/EvanDotPro/nerdtree-chmod.git
[submodule "bundle/nerdtree-symlink"]
	path = bundle/nerdtree-symlink
	url = git://github.com/EvanDotPro/nerdtree-symlink.git
[submodule "bundle/php.vim"]
	path = bundle/php.vim
	url = git://github.com/vim-scripts/php.vim--Garvin.git
[submodule "bundle/phpDocumentor"]
	path = bundle/phpDocumentor
	url = git://github.com/vim-scripts/PDV--phpDocumentor-for-Vim.git
[submodule "bundle/php_getset.vim"]
	path = bundle/php_getset.vim
	url = git://github.com/EvanDotPro/php_getset.vim.git
[submodule "bundle/phpcomplete.vim"]
	path = bundle/phpcomplete.vim
	url = git://github.com/shawncplus/phpcomplete.vim.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/zencoding-vim"]
	path = bundle/zencoding-vim
	url = git://github.com/mattn/zencoding-vim.git
[submodule "bundle/vim-extradite"]
	path = bundle/vim-extradite
	url = git://github.com/int3/vim-extradite.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-php-syntax-check"]
	path = bundle/vim-php-syntax-check
	url = git://github.com/EvanDotPro/vim-php-syntax-check.git
[submodule "bundle/vim-zoom"]
	path = bundle/vim-zoom
	url = git://github.com/EvanDotPro/vim-zoom.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = https://github.com/vim-scripts/vimwiki
