[submodule "submodules/Lucius"]
	path = submodules/Lucius
	url = git://github.com/vim-scripts/Lucius.git
[submodule "submodules/vim-pathogen"]
	path = submodules/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "submodules/vim-fugitive"]
	path = submodules/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "submodules/cmdalias"]
	path = submodules/cmdalias
	url = git://github.com/vim-scripts/cmdalias.vim.git
[submodule "submodules/nerdtree"]
	path = submodules/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "submodules/minibufexpl"]
	path = submodules/minibufexpl
	url = git://github.com/fholgado/minibufexpl.vim.git
[submodule "submodules/bufkill"]
	path = submodules/bufkill
	url = git://github.com/vim-scripts/bufkill.vim.git
[submodule "submodules/zencoding"]
	path = submodules/zencoding
	url = git://github.com/mattn/zencoding-vim.git
[submodule "submodules/gist"]
	path = submodules/gist
	url = git://github.com/vim-scripts/Gist.vim.git
[submodule "submodules/php"]
	path = submodules/php
	url = git://github.com/vim-scripts/php.vim--Garvin.git
[submodule "submodules/php-doc"]
	path = submodules/php-doc
	url = git://github.com/vim-scripts/PDV--phpDocumentor-for-Vim.git
[submodule "submodules/phpcomplete"]
	path = submodules/phpcomplete
	url = git://github.com/shawncplus/phpcomplete.vim.git
[submodule "submodules/supertab"]
	path = submodules/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "submodules/vim-extradite"]
	path = submodules/vim-extradite
	url = git://github.com/int3/vim-extradite.git
[submodule "submodules/php_getset"]
	path = submodules/php_getset
	url = git://github.com:EvanDotPro/php_getset.vim.git
